<!--
  Generated template for the AngularAnimationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <div class="wrapper">

    <div class="container">
      <div class="box b1" [@byClick]="isByClick ? 'bukaBox1' : 'tutupBox'">
        I
      </div>
      <div class="box b2" [@byClick]="isByClick ? 'bukaBox2' : 'tutupBox'">
        <ion-icon name="heart"></ion-icon>
      </div>
      <div class="box b3" [@byClick]="isByClick ? 'bukaBox3' : 'tutupBox'">
        U
      </div>
      <button ion-buttons (click)="toggle()" padding>Hey, Click Me</button>
    </div>

  </div>
</ion-content>
