page-dashboard {

    .wrapper-x{
        border:1px solid #999;
        border-radius:6px;
    }

    .calendar{
        margin-bottom: 100px;        
        .input{
            border:1.2px solid rgba(black, .2);
            width: fit-content;
            padding: 8px;
            border-radius: 5px;
            input{
                border:none;
                width: 110px;
            }
            ion-icon{
                font-size: 20px;
            }
        }
        .input-wrapper{
            .input{
                margin-right: 16px;
            }
        }
    }


}
