<ion-header>

  <ion-navbar>
    <ion-title>CSS Animation Collection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="container" fxLayout="column">
    <div class="wrapper-x" *ngFor="let item of linkPage" margin-bottom padding>
      <h1>{{ item.title }}</h1>
      <div class="btn-box">
        <button ion-button small round outline *ngFor="let text of item.content" (click)="toLink(text.link)">{{ text.name }}</button>
      </div>
    </div>
  </div>
  <div class="calendar">
    <h1>Single Input</h1>
    <div class="input" (click)="openCalendar('single')" fxLayout="row">
      <input [(ngModel)]="selectedDate" type="text">
      <ion-icon name="calendar"></ion-icon>
    </div>
    <h1>Multi Input</h1>
    <div class="input-wrapper" fxLayout="row">
      <div class="input" (click)="openCalendar('multi')" fxLayout="row" fxLayoutGap="6px">
        <input [(ngModel)]="startDate" type="text">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <div class="input" (click)="openCalendar('multi')" fxLayout="row" fxLayoutGap="6px">
        <input [(ngModel)]="endDate" type="text">
        <ion-icon name="calendar"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>