<ion-header>

  <ion-navbar>
    <ion-title>CSS Animation Collection</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="container" fxLayout="column">
    <div class="wrapper-x" *ngFor="let item of linkPage" margin-bottom padding>
      <h1>{{ item.title }}</h1>
      <div class="btn-box">
        <button ion-button small round outline *ngFor="let text of item.content" (click)="toLink(text.link)">{{ text.name }}</button>
      </div>
    </div>
  </div>
  <div class="calendar">
    <div class="single-input" (click)="openCalendar('single')" fxLayout="row" fxLayoutGap="6px">
      <input type="text">
      <ion-icon name="calendar"></ion-icon>
    </div>
    <button ion-button (click)="openCalendar()">Calendar</button>
    <!-- <gdx-calendar (startDates)="startDate = $event" (endDates)="endDate = $event"></gdx-calendar> -->
  </div>

</ion-content>
