page-animation-page1 {

    .container{
        background:#eee;
        padding:16px;
        height: 500px;
        position: relative;
    }

    .card{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        height: 300px;
        cursor: pointer;

        display: flex;
        flex-direction: column;


        p{
            font-size: 16px !important; 
            text-align: center;
        }
        img{
            width: 200px;
            height: 150px;
        }
    }

}
