<!--
  Generated template for the SubscribeBtnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SubscribeBtn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="container">

    <div (click)="toInput()" class="btn">

      <ion-label class="label" [@fadingNotify] *ngIf="!nilai">Subscribe Now</ion-label>
      
      <div class="input" [@fadingInput] *ngIf="nilai && !thank">
        <ion-input [(ngModel)]="inputan" placeholder="E-mail"></ion-input>
        <button (click)="toThank()" [disabled]="inputan == '' || inputan == null" clean round ion-button>Send</button>
      </div>
      
      <ion-label class="label" [@fadingThank] *ngIf="thank">Thank You!</ion-label>
    
    </div>

  </div>

</ion-content>
